<!DOCTYPE html>

<html>
	<head>
		<title>Blogfat</title>
		<script src="js/blog.js"></script>
	</head>

	<body>
		<header>
			<h1>Blogfat</h1>
			<p>Signed in as {{user}}</p>
			<nav id="drawer" class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="/">Home</a>
					</li>					
					</li>
					{% if not user %}
					<li class="nav__item">
						<a href="/signup">Signup</a>
					</li>
					
					<li class="nav__item">
						<a href="/login">Login</a>
					</li>
					{% else %}
					<li class="nav__item">
						<a href="/newpost">New Blog</a>
					<li class="nav__item">
						<a href="/logout">Logout</a>
					</li>
					{% endif%}
				</ul>
			</nav>
		</header>
		{% block main_content %}
		{% endblock %}
