{% include "base.html" %}

{% block main_content %}
<script src="js/blog.js"></script>
<content id="blog">
	<article id="blog-body">
		<h4 class="subject">{{blog.subject}}</h4>
		<p class="content">{{blog.content}}</p>
		<p class="created_by">Created by: {{blog.created_by}}</p>
		{% if user == blog.created_by %}
		<input type="file" id="img" onchange="upload_image({{blog.key.id()}})">
		{% endif %}
		<br>
		{% if blog.image %}
		<img id="blog-img" src="/img?img_id={{blog.key.id()}}">
		{% if user == blog.created_by %}
		<button id="delete-img" onclick="delete_image({{blog.key.id()}})">Delete Image</button>
		{% endif %}
		{% endif %}

		{% if user == blog.created_by %}

		<form method="post">
			<div>
		        <input type="submit" name="edit_blog" value="Edit Blog">
		    </div>
		</form>
		{% endif %}
	</article>

	<article id="comments">
		<section id="existing-comments">
			{% for comment in comments %}
			<div id="comment-{{comment.key.id()}}">
				<pre>{{comment.user}}: {{comment.content}}</pre>
				{% if (user == comment.user) or (user == blog.created_by) %}
				<button onclick="delete_comment({{comment.key.id()}},{{blog.key.id()}})">Delete Comment</button>
				{% endif %}

				{% if user == comment.user %}
				<button id="edit-comment-{{comment.key.id()}}" onclick="toggle_edit_comment({{comment.key.id()}}, '{{comment.content}}')" >
					Edit
				</button>
				{% endif %}
				<hr>

			</div>
			{% endfor %}
		</section>
		<section id="add-comments">
			<p id="error"></p>
			<textarea id="new-comment"></textarea>
			<button id="submit-comment" onclick="commentRequest({{blog.key.id()}})">Submit</button>
		</section>
	</article>
</content>
{% endblock %}
{% include "footer.html" %}